*
!.gitignore
!alacritty/alacritty.yml
!home/ezekielenns/.bashrc
!home/ezekielenns/.local/scripts/controls.sh
!home/ezekielenns/.local/scripts/finder.sh
!home/ezekielenns/.local/scripts/langswapper.sh
!home/ezekielenns/.local/scripts/notes.sh
!home/ezekielenns/.local/scripts/powermenu.sh
!home/ezekielenns/.local/scripts/powermenu/shared/colors.rasi
!home/ezekielenns/.local/scripts/powermenu/shared/fonts.rasi
!home/ezekielenns/.local/scripts/powermenu/style-1.rasi
!home/ezekielenns/.tmux.conf
!i3/config
!i3status-rust/config.toml
!mpv/mpv.conf
!nvim/init.lua
!nvim/lua/cocsett.lua
!nvim/lua/cutils.lua
!nvim/lua/dbAccess.lua
!nvim/lua/files.lua
!nvim/lua/keys.lua
!nvim/lua/plugins.lua
!nvim/lua/settings.lua
!nvim/lua/status.lua
!xournalpp/settings.xml
!xournalpp/toolbar.ini
